:root {
    --primary-text-color: #757575;
    --title-text-color: #212121;
    --white-color: #FFFFFF;
    --accent-color: #2196F3;
    --background-color: #E5E5E5
}
body {
    background-color: var(--background-color);
}
li {
    list-style: none;
}
.nav-web {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: var(--accent-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.nav-studio {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: bold;
    color: var(--title-text-color);
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.navigation > a {
    text-decoration: none;
}
.nav-list-link {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
}
.nav-list-link:hover,
.nav-list-link:focus {
    color: var(--accent-color);
}
.mail {
    color: var(--primary-text-color);
    text-decoration: none;
}
.tel {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    text-decoration: none;
}
.mail:hover,
.mail:focus,
.tel:hover,
.tel:focus {
    color: var(--accent-color);
}
.container-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
.button {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    text-align: center;
    letter-spacing: 0.06em;
    color: var(--white-color);
}
.section{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--title-text-color);
}
.text {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
h3, h4 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.name {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
}
.position {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.menu-list {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.625;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    background-color: #F5F4FA;
    text-decoration: none;
}
.menu-list:hover,
.menu-list:focus {
    color: var(--white-color);
    background-color: var(--accent-color);
}
.gallery-title {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--title-text-color);
}
.gallery-text {
    font-family: Roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}
.footer {
    background-color: #2F303A;
}
.footer > a {
    text-decoration: none;
    
}
.adress {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--white-color);
}